.restaurants {
    padding: 10% 5%;
    background-color: #F6f6f6;
    @include tablet {
        padding: 5% 20%;
    }

    @include xl-desktop {
        padding: 2% 20%;
        h1 {
            margin: 0 20% 2%;
        }
    }
}