.menu {
    border-radius: 30px;
    overflow: hidden;
    background-color: #F2F2F2;
    position: relative;
    margin-top: -15%;
    padding: 10% 5%;

    @include tablet {
        padding: 5%;
    }
    @include desktop {
        padding: 5% 20% 0;
        margin-top: -10%;
    }

    @include xl-desktop {
        width: 30%;
        margin-top: -5%;
        padding: 2% 35% 0;
        border-radius: 120px;
    }
    &__top {
        display: flex;
        align-content: center;
        justify-content: space-between;
        margin-bottom: 5%;
        @include xl-desktop {
            margin-bottom: 0;
        }

        @include tablet {
            margin-bottom: 2%;
        }

        &__title {
            font-family: $shrikhand;
            font-size: 2em;
        }

        &__fav {
            margin-right: 5%;

            i {
                font-size: 2em !important;
                transition: all 0.4s ease;

                &:hover {
                    font-weight: 900 !important;
                    color: rgba(147,86,220,1);
                }
            }
        }
    }

    &__subpart {
        margin-bottom: 10%;
        @include animation;
        @include tablet {
            margin-bottom: 5%;
        }

        &__title {
            font-family: $roboto;
            font-size: 1em;
            -webkit-animation-duration: 2s;
            animation-duration: 2s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-name: fadeInUp;
            animation-name: fadeInUp;
        }

        &__hr {
            width: 10%;
            border-top: 4px solid $color-third;
            margin: 2% 0;
        }
    }

    &__button {
        margin: 10% auto;
        display: block;
        width: 50%;
    }

}

@for $i from 1 through 10 {
    .menu__subpart:nth-child(#{$i}n) {
        animation-delay: #{$i * 1.8}s;
    }
}