.menu {
    border-radius: 50px;
    overflow: hidden;
    background-color: white;
    position: relative;
    margin-top: -15%;
    padding: 2% 5%;
    @media (min-width: 480px) {
        border-radius: 75px;
        margin-top: -10%;
        padding: 5% 10%;
    }

    &__top {
        display: flex;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10%;

        &__title {
            font-family: $shrikhand;
            font-size: 2em;
            @media (min-width: 480px) {
                font-size: 3em;
            }
        }

        &__fav {
            margin-right: 5%;

            i {
                font-size: 2em !important;
                transition: all 0.4s ease;
                @media (min-width: 480px) {
                    font-size: 3em !important;
                }

                &:hover {
                    font-weight: 900 !important;
                    color: rgba(147,86,220,1);
                }
            }
        }
    }

    &__subpart {
        margin-bottom: 10%;
        @include animation;

        @media (min-width: 480px) {
            padding: 0 10%;
        }

        &__title {
            font-family: $roboto;
            font-size: 1.2em;
            -webkit-animation-duration: 2s;
            animation-duration: 2s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-name: fadeInUp;
            animation-name: fadeInUp;
            @media (min-width: 480px) {
                font-size: 1.5em;
            }
        }

        &__hr {
            width: 10%;
            border-top: 4px solid $color-third;
            margin: 0;
        }
    }

    &__button {
        margin: 10% auto;
        display: block;
        width: 50%;
    }

}

@for $i from 1 through 10 {
    .menu__subpart:nth-child(#{$i}n) {
        animation-delay: #{$i * 1.8}s;
    }
}