.card {
    display: flex;
    flex-direction: column;
    height: 250px;
    object-fit: cover;
    margin-bottom: 5% !important;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    transition: all 0.5s ease;
    @include tablet {
        height: 300px;
    }

    @include desktop {
        height: 250px;
        margin: 2% !important;
        width: 46%;
    }

    &:hover {
        filter: brightness(90%);
    }

    &__top {
        height: 70%;
        position: relative;
        overflow: hidden;
        @include tablet {
            height: 80%;
        }
        @include tablet {
            height: 75%;
        }

        &__image {
            object-fit: cover;
            position: absolute;
            top: -9999px;
            bottom: -9999px;
            left: -9999px;
            right: -9999px;
            margin: auto;
            width: 100%;
            height: auto;
        }

        &--new {
            position: absolute;
            right: 4%;
            top: 8%;
            background-color: #99e2d0;
            border-radius: 5px;
            padding: 2%;
            color: #008766;
            font-size: 1em;
            font-family: $roboto;
            font-weight: 700;
            @include desktop {
                font-size: 0.8em;
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;

        &__desc {
            padding: 4% 5%;
            font-size: 1.2em;
            font-family: $roboto;
            line-height: 1.2em;
            @include tablet {
                font-size: 1em;
                line-height: 1.5em;
                padding: 2% 5%;
            }

            @include desktop {
                padding: 4% 5%;
                font-size: 0.9em;
                line-height: 1.2em;
            }

            h2 {
                font-weight: bold;
            }
        }

        &__fav {
            width: 20%;
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;

            i {
                transition: all 0.4s ease;
                font-size: 2em !important;
                @include desktop {
                    font-size: 1.5em !important;
                }

                &:hover {
                    font-weight: 900 !important;
                    color: #9356DC;
                }
            }
        }
    }
}

#cards {
    @include desktop {
        display: flex;
        flex-wrap: wrap;
    }

    @include xl-desktop {
        padding: 0 20%;
    }
}