.hero {
    background-color: #F6f6f6;
    margin: auto;
    padding: 10% 5%;
    text-align: center;
    @include tablet {
        padding: 2% 10%;
    }

    @include xl-desktop {
        padding: 1% 10%;
        h1 {
            margin-bottom: 2%;
        }
    }

    h2 {
        font-family: $roboto;
        font-size: 1.2em;
        font-weight: 100;
        margin-bottom: 10%;
        color: lighten($color: #000000, $amount: 30%);
        @include tablet {
            margin-bottom: 5%;
        }
        @include xl-desktop {
            margin-bottom: 2%;
        }
    }
}

.restaurant-hero {
    height: 30%;
    overflow: hidden;
    max-height: 500px;
    @include tablet {
        height: 75%;
    }

    @include xl-desktop {
        width: 50%;
        margin: auto;
        max-height: 600px;
    }

    &__image {
        object-fit: cover;
        margin: auto;
        width: 100%;
        height: auto;
    }
}