// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Shrikhand|Roboto:400italic,700italic,400,700);

// Font Variables
$roboto: 'Roboto', sans-serif;
$shrikhand: 'Shrikhand', sans-serif;

// Font uses

* {
    font-family: $roboto;
}

h1 {
    font-family: $roboto;
    font-weight: bolder;
    margin-bottom: 5%;
    font-size: 1.5em;
}
